:root {
  /* colors */
  --card-active: #f8edeb;
  --card-dead: #cae9ff;
  --button: #ff9f1c;
  /* fontsize */
  --fs-small: 1em;
  --fs-med: 1.5em;
  --fs-large: 3em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pets-container {
  display: grid;
  margin: 20px 30px;
  justify-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  font-family: casual;
  text-align: center;
  font-size: 3em;
}

.intro {
  font-size: 1.3em;
  margin: 10px auto;
}

/* Card  */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 280px;
  padding: 10px 13px;
  margin: 10px;
  gap: 6px;
  border-bottom: 5px solid black;
}

.emoji {
  margin-top: 5px;
  font-size: 50px;
  cursor: pointer;
}

.name {
  font-size: var(--fs-med);
  font-weight: 600;
}

.description {
  font-size: var(--fs-small);
  font-weight: 600;
}

.meter-container {
  text-align: center;
  margin-top: 5px;
}

.hunger-meter::-webkit-meter-optimum-value {
  background-color: red;
}

button {
  border: none;
  background-color: var(--button);
  padding: 4px 5px;
  border-radius: 4px;
  margin-top: 15px;
}

/* bg when pet is alive */
.isalive {
  background-color: var(--card-active);
}
/* bg when pet dies */
.isdead {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--card-dead);
}

q {
  font-style: italic;
}
